
.digit{
	color: white;
	
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	padding: 1px 1px 2px;
	margin-right: 4px;
	border-radius: 2px;
	text-shadow: 0 1px 1px black;
	font-style: normal;
	background: linear-gradient(bottom, rgb(49, 48, 48), rgb(32, 31, 31));
	background: -webkit-linear-gradient(bottom, rgb(49, 48, 48), rgb(32, 31, 31));
	background: -moz-linear-gradient(bottom, rgb(49, 48, 48), rgb(32, 31, 31));
	background: -o-linear-gradient(bottom, rgb(49, 48, 48), rgb(32, 31, 31));
	
	vertical-align: middle;

	position: relative;
	float: left;
	width: 16px;
	height: 30px;
	font-size: 16px;
	line-height: 29px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);

}
.circle.counter
{
	color: rgb(80, 2, 2);
	padding-bottom: 8px;
	vertical-align: middle;
	font-family: 'PT Mono';

}
.circle .digit
{
	border-radius: 15px;
	width: 30px;
	height:30px;
	color: white;
	font-size:20px;
	box-shadow:none;
	vertical-align: middle;
	font-family: 'PT Mono';
}
.digit.red{
	background: rgb(240, 82, 82);
}
.digit.blue{
	background: rgb(35, 139, 221);
}
.digit.green{
	background: rgb(169, 226, 124);
}

.circle .countdown-date{
	display:inline-block;
	font-style: normal;
	font-size: 18px;
	margin-bottom: 0;
	margin-right: 0;
	line-height: 29px;
	vertical-align: middle;
	
}

.counter
{
	cursor: default;
	position:relative;
	color: white;
	margin:0 auto;
	text-align: center;
	margin-top:20px;

	padding: 10px 0 	20px;

	background: rgba(216, 51, 51, 0.5);
	border-radius: 10px;
	
}
.counter ul{
	line-height: 2;
	display: inline-block;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	padding: 0;
	margin:0;
	margin-bottom:-8px;
}

.conuter ul li{
	display: inline;
	padding: 1px 6px 7px;
	margin-top:10px;
	margin-left:-2px;
	margin-right: 5px;

}
.conuter ul li:last-child{
	margin-right: 0;
}
.countdown-note{
	margin-right: 4px;
	display:inline-block;
	letter-spacing: 1px;
}

.divider {
	padding-right: 2px;
	width:1px;
	color: white;
	font-size:17px;
	font-weight: 700;
	text-shadow:0 0 5px rgba(0, 0, 0, .8);
}
.countdown-date
{
	display: block;
	margin-bottom: 10px;
	font-weight: 400;
}
