//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic-ext);
html, body
{
	height:100%;
}

body{
	//background: url("../assets/concrete_wall.png");
	background: #FFFCDC;
	margin:0;
	min-height: 100%;
	text-align: center;

	font-family: 'PT Sans Narrow', sans-serif;
}
.github-btn{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.wrapper
{
	
	text-align: center;
	margin: 150px auto;
	min-height: 100%;
	padding-top: 1px;
	display: inline-block;

}
.counter-wrapper{
	padding-top:40px;
}

.description{
	font-weight: 300;
	
	line-height:20px;
	padding:11px;
	margin:0 auto;
	color: #113645;
	margin-bottom: 30px;
	display:block;
	font-size:21px;
	//background: rgba(17,54,69,.4);//#113645;
	border-radius: 10px;
	width:470px;
}

.description a{
	//color: white;
	color: #113645;
}
.description span{
	font-weight: 400;
	display:block;
	font-size:20px;
}
.index-img
{
	width:150px;
	height:150px;
	position:absolute;
	bottom:20px;
	right:10px;
}

.box{
	width:150px;
	height: 150px;
	border-radius: 14px;
	display: inline-block;
	background-color: blue;
	vertical-align: middle;
	text-align: center;
	line-height: 150px;
	position: relative;
	font-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}
.box+.box{
	margin-left: 40px;;
}
.box a{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left: 0;

}

.box.rotator{
	background-color: #C57688;
	background-image: url('../assets/rotator/rotator_title.png');
	background-size: contain;

}
.box.slideshow{
	background-color: #66B3A7;
	background-image: url('../assets/slideshow/slideshow_title.png');
	background-size:70%;
}
.box.counter{
	background-color: #EFC879;
	background-image: url('../assets/counter/counter_title.png');
	background-size: 62%;
}