.image-rotator
{
	width:100%;
	height:100%;
	position: relative;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.inside-pic
{
	width: inherit;
	height: inherit;
	position:absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
.global-preloader{
	position:absolute;
	background-color: red;
	opacity: .3;
	height: 7px;

	bottom:0;
	left:0;
	width: 100%;
}

.preloader{
	background-color: blue;
	height: 7px;
	position:absolute;
	bottom:0;
	left:0;
}

