.image-rotator
{
	width: 600px;
	height: 400px;
	position: relative;
	box-shadow: 1px 1px 3px 2px rgba(0,0,0,.4);
	margin: 35px auto 6px;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.inside-pic
{
	width: inherit;
	height: inherit;
	position:absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
.global-preloader{
	position:absolute;
	background-color: red;
	opacity: .3;
	height: 7px;

	bottom:0;
	left:0;
	width: 100%;
}

.preloader{
	background-color: blue;
	height: 7px;
	position:absolute;
	bottom:0;
	left:0;
}

