@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Mono&subset=latin,latin-ext,cyrillic,cyrillic-ext);

html, body
{
	height:100%;
	font-family: 'PT Sans Narrow', sans-serif;
}
h1, h2, h3{
	margin:4px 0 2px;
}
p{
	margin:4px 0;
}
body{
	background: #66B3A7;
	margin:0;
	min-height: 100%;

}
.page-title{
	display: block;
	margin: 0 auto;
}
.wrapper
{
	position:relative;
	margin: 20px auto;
	min-height: 100%;
	max-width:70%;
	min-width: 770px;

}
.slideshow-wrapper{
	width:90%;
	margin: 20px auto 0;
}

.description{
	margin-top:20px;
	display: block;
	text-align: left;
	width: 90%;
	border-radius:6px;
	margin: 20px auto;
	background: #F78D54;
	padding: 10px 5%;
	font-size:18px;
	position: relative;
}
.description-link{
	color: rgb(143, 15, 56);
}

.side-block{
	position: absolute;
	text-align: right;
	line-height: 14px;
	top:10px;
	right:10px;
	padding-left:4px;
	border-radius: 3px;
	font-size: 14px;
	width: 90px;
}
.github-btn{
	width:50px;
	margin-right: -3px;
}
code{
	padding:5px;
	padding-left:8px;
	margin:0 auto;
	border-radius: 4px;
	background:  #F0F1DE;
	font-size:15px;
	margin: 6px 0;
	width:95%;
	overflow: hidden;
	display: block;
	white-space: pre;
	text-align: left;
	font-family: 'PT Mono' !important;
}
code span{
	display: inline-block;

}
code .code-attribute{
	color: #437009;
}
code .code-value{
	color: #007491;
}
